<!-- class binding this test app -->
<!-- <app-test></app-test>       -->


<!-- style binding this app style -->
<!-- <app-style></app-style>  -->
<!-- <h1>{{title}}</h1> -->
<!-- event binding this app event -->
 <!-- <app-event></app-event>  -->
 <!-- <app-parent></app-parent>

-->     

<h1>hii</h1>
<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
